.formFooter {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--pixel-10);
  gap: var(--pixel-10);
}

.formTitle {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.formHead,
.formInputWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.formInputWrap {
  width: var(--pixel-350);
  max-width: var(--pixel-350);
}

.formHead {
  align-self: stretch;
  padding: var(--pixel-10);
  gap: var(--pixel-20);
  text-align: left;
  font-size: var(--font-md);
  color: var(--color-primary);
  font-family: var(--font-jakarta);
}

.formBody,
.onpageForm {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--pixel-10);
  gap: var(--pixel-10);
}

.onpageForm {
  margin: 0;
  border-radius: var(--pixel-20);
  background-color: var(--color-light);
}
