.prim-button-text {
  color: var(--color-secondlight);
  font-family: var(--font-dm);
  position: relative;
  margin-top: -var(--pixel-5);
  margin-bottom: -4px;
}

.prim-button {
  cursor: pointer;
  border-radius: var(--pixel-50);
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  overflow: hidden;
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--pixel-15) var(--pixel-20);
  text-align: left;
  font-size: var(--font-xsm);
}
