.scnd-button-text {
  position: relative;
  font-size: var(--font-mini);
  font-family: var(--font-dm);
  color: var(--color-secondlight);
  text-align: left;
}

.scnd-button {
  cursor: pointer;
  border: 1px solid var(--color-hint);
  padding: var(--pixel-10) var(--pixel-15);
  gap: var(--pixel-10);
  background-color: var(--color-hint);
  border-radius: var(--pixel-100);
  box-sizing: border-box;
  height: var(--pixel-40);
  flex-direction: row;
  justify-content: center;
}
