.notifFloatContentText {
  margin: 0;
  align-self: stretch;
  flex: 1;
  position: relative;
  font-weight: 700;
}

.notifFloat,
.notifFloatContent {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.notifFloatContent {
  flex: 1;
  border-radius: 10px;
  background-color: var(--color-blue);
  padding: 25px;
  max-width: 600px;
  text-align: center;
  font-size: var(--font-graph);
  color: var(--color-white);
  font-family: var(--font-open);
}

.notifFloat {
  width: 100%;
  margin: 0 !important;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 60px;
  z-index: 10000;
  animation-name: slideFromTop;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.notifFloat.out {
  animation-name: slideToTop;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideFromTop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideToTop {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-30px);
  }
}
