.formSubtitle,
.formTitle {
  align-self: stretch;
  position: relative;
  font-size: 35px;
  font-family: var(--font-jakarta);
  color: #045e83;
  text-align: center;
}

.formSubtitle {
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font-dm);
  color: #0f3948;
}

.formHead {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1px;
  gap: 5px;
}

.formBody {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-direction: column;
  padding: 1px;
  gap: 10px 0;
  box-sizing: border-box;
}

.form,
.formFooter,
.formScreen {
  display: flex;
  align-items: center;
}

.formFooter {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 1px;
  gap: 10px;
}

.form,
.formScreen,
.formScroll {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  margin: 0;
  width: 100%;
  border-radius: 20px;
  background-color: #f5f5f7;
  justify-content: flex-start;
  padding: 40px;
  box-sizing: border-box;
  gap: 20px 0;
  max-width: 725px;
  animation-name: slideFromBottom;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.form.close {
  animation-name: slideToBottom;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.formScreen {
  align-self: stretch;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  flex-shrink: 0;
  min-height: 100vh;
  justify-content: center;
  padding: 40px;
  box-sizing: border-box;
  /* height: 100vh; */
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.formScreen.close {
  animation-name: fadeOut;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.formScroll {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100vh;
  overflow-y: auto;
  justify-content: flex-start;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideFromBottom {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideToBottom {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(30px);
  }
}
