.input-field-value {
  border: 0;
  outline: 0;
  font-weight: 600;
  font-family: var(--font-dm);
  font-size: var(--font-graph);
  background-color: transparent;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 5px;
  color: var(--color-semidarkblue);
}

.input-field-value::placeholder {
  font-weight: 500;
  color: var(--color-darkblue-50);
}

.input-field-toggle {
  cursor: pointer;
  border: 0;
  padding: 10px 5px;
  display: flex;
  background-color: transparent;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-field-input {
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid var(--color-blue-30);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 10px;
  gap: 10px;
  transition: all 0.3s ease-in-out;
}

.input-field-input:hover,
.input-field-input:focus-within {
  border: 1px solid var(--color-blue);
}

.input-field-mssg-text {
  margin: 0;
  position: relative;
  font-size: var(--font-small);
  font-weight: 500;
  font-family: var(--font-dm);
  color: var(--color-red);
  text-align: center;
}

.input-field-mssg {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 15px;
}

.input-field-help-text {
  margin: 0;
  cursor: pointer;
  position: relative;
  font-size: var(--font-small);
  font-weight: 500;
  font-family: var(--font-dm);
  color: var(--color-darkblue);
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.input-field-help-text:hover {
  text-decoration: underline;
}

.input-field {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}
