.primButtonHollowText {
  position: relative;
  font-size: var(--font-xsm);
  font-family: var(--font-dm);
  color: inherit;
  text-align: left;
}

.primButtonHollow {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px dashed #045e83;
  padding: var(--pixel-15) var(--pixel-20);
  color: #045e83;
  background-color: transparent;
  border-radius: var(--pixel-50);
  height: 52px;
  flex-shrink: 0;
  flex-direction: row;
  gap: 0 var(--pixel-10);
  transition: all 0.3s ease-in-out;
}

.primButtonHollow:hover {
  color: #fff;
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
}

.primButtonText {
  position: relative;
  font-size: var(--font-xsm);
  font-family: var(--font-dm);
  color: inherit;
  text-align: left;
}

.primButton {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid #3880eb;
  padding: var(--pixel-15) var(--pixel-20);
  color: #fff;
  background-color: #3880eb;
  border-radius: var(--pixel-50);
  height: 52px;
  flex-shrink: 0;
  flex-direction: row;
  gap: 0 var(--pixel-10);
  transition: all 0.3s ease-in-out;
}

.primButton:hover {
  border: 1px solid var(--color-hint);
  background-color: var(--color-hint);
}
