.prim-button-text {
  color: var(--color-white);
  font-family: var(--font-sand);
  position: relative;
  margin-top: -5px;
  margin-bottom: -4px;
}

.prim-button {
  cursor: pointer;
  border-radius: 50px;
  background-color: var(--color-blue);
  border: 1px solid var(--color-blue);
  overflow: hidden;
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  text-align: left;
  font-size: var(--font-accent);
}
