.scndButtonText {
  position: relative;
  font-size: 14px;
  font-family: Quicksand;
  color: inherit;
  text-align: left;
}

.scndButton {
  cursor: pointer;
  border: 1px solid #045e83;
  padding: 10px 15px;
  color: #fff;
  background-color: #045e83;
  border-radius: 100px;
  box-sizing: border-box;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 10px;
  transition: all 0.3s ease-in-out;
}

.scndButton:hover {
  border: 1px solid var(--color-blue);
  background-color: var(--color-blue);
}

.scndButtonHollow {
  cursor: pointer;
  border: 1px solid transparent;
  padding: 10px 15px;
  color: #045e83;
  background-color: transparent;
  border-radius: 100px;
  box-sizing: border-box;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 10px;
  transition: all 0.3s ease-in-out;
}

.scndButtonHollow:hover {
  border: 1px solid var(--color-blue);
}

.scndButtonHollowLine {
  cursor: pointer;
  border: 1px dashed #045e83;
  padding: 10px 15px;
  color: #045e83;
  background-color: transparent;
  border-radius: 100px;
  box-sizing: border-box;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 10px;
  transition: all 0.3s ease-in-out;
}

.scndButtonHollowLine:hover {
  border: 1px solid var(--color-blue);
  background-color: var(--color-blue);
}
