.loginSection {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--pixel-30) var(--pixel-60);
  gap: var(--pixel-20);
}
