.user-list-line,
.user-list-title {
  position: relative;
}

.user-list-line {
  flex: 1;
  border-top: 1px solid var(--color-blue-30);
  box-sizing: border-box;
  height: 2px;
}

.user-list-heading {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: left;
  font-size: 35px;
  color: var(--color-semidarkblue);
  font-family: var(--font-jakarta);
}

.search-icon {
  width: 17px;
  position: relative;
  height: 17px;
}

.user-list-searchbar,
.user-list-searchbar-field {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.user-list-searchbar-field {
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-sand);
  font-size: 18px;
  background-color: transparent;
  padding: 5px 0;
  color: var(--color-semidarkblue);
}

.user-list-searchbar {
  border-radius: 10px;
  border: 1px solid var(--color-blue-30);
  box-sizing: border-box;
  height: 52px;
  padding: 5px 15px;
  gap: 10px;
  max-width: 300px;
}

.user-list-filter-text {
  position: relative;
  font-size: 16px;
  font-family: var(--font-sand);
  color: var(--color-semidarkblue);
  text-align: left;
}

.chevron-down-icon {
  width: 12px;
  position: relative;
  height: 6.9px;
}

.user-list-filter {
  cursor: pointer;
  border: 1px solid var(--color-blue-30);
  padding: 5px 20px;
  background-color: transparent;
  border-radius: 10px;
  box-sizing: border-box;
  height: 52px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.user-list-add-text {
  position: relative;
  font-size: 16px;
  font-family: var(--font-sand);
  color: var(--color-white);
  text-align: left;
}

.user-list-add {
  cursor: pointer;
  border: 1px solid var(--color-blue);
  padding: 5px 20px;
  background-color: var(--color-blue);
  border-radius: 10px;
  box-sizing: border-box;
  height: 52px;
  overflow: hidden;
  justify-content: center;
  gap: 10px;
}

.user-list-add,
.user-list-nav,
.user-list-option {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-list-option {
  justify-content: center;
  gap: 15px;
}

.user-list-nav {
  align-self: stretch;
  justify-content: space-between;
}

.user-list-row-name-text {
  flex: 1;
  position: relative;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-list-row-date,
.user-list-row-id,
.user-list-row-name {
  flex: 1;
  border-radius: 10px;
  height: 53px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 20px;
  box-sizing: border-box;
}

.user-list-row-date,
.user-list-row-id {
  max-width: 200px;
}

.user-list-row-id {
  max-width: 150px;
}

.more-icon {
  width: 4.2px;
  position: relative;
  height: 25px;
}

.user-list-row-more {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 46px;
  border-radius: 5px;
  height: 46px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.edit-icon {
  width: 24.4px;
  position: relative;
  height: 25px;
}

.user-list-row {
  align-self: stretch;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 0;
}

.user-list-head-name {
  flex: 1;
  height: 53px;
  justify-content: flex-start;
  padding: 15px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.user-list-head,
.user-list-head-date,
.user-list-head-id {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.user-list-head-id {
  flex: 1;
  height: 53px;
  justify-content: flex-start;
  padding: 15px 20px;
  box-sizing: border-box;
  max-width: 150px;
}

.user-list-head {
  align-self: stretch;
  background-color: var(--color-foreground);
  box-shadow: 0 37px 10px transparent, 0 24px 9px transparent,
    0 13px 8px rgba(0, 0, 0, 0.02), 0 6px 6px rgba(0, 0, 0, 0.03),
    0 1px 3px rgba(0, 0, 0, 0.03);
  justify-content: center;
}

.user-list-body,
.user-list-head-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.user-list-head-wrap {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  padding: 10px;
  z-index: 2;
}

.user-list-body {
  align-self: stretch;
  border-radius: 20px;
  background-color: var(--color-white-second);
  box-shadow: 0 30px 8px transparent, 0 19px 8px transparent,
    0 11px 6px rgba(0, 0, 0, 0.02), 0 5px 5px rgba(0, 0, 0, 0.03),
    0 1px 3px rgba(0, 0, 0, 0.03);
  height: 398px;
  overflow-y: auto;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 83px 10px 10px;
  position: relative;
  gap: 10px;
}

.chevron-left-icon {
  width: 6.9px;
  position: relative;
  height: 12px;
}

.pagination-arrow {
  cursor: pointer;
  border: 0;
  padding: 5px 20px;
  background-color: transparent;
  border-radius: 10px;
  height: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.pagination-num-text {
  position: relative;
  font-size: 16px;
  font-family: var(--font-sand);
  color: var(--color-darkblue);
  text-align: left;
}

.pagination {
  border-radius: 15px;
  background-color: var(--color-white-second);
  box-shadow: 0 23px 6px transparent, 0 14px 6px transparent,
    0 8px 5px rgba(0, 0, 0, 0.02), 0 4px 4px rgba(0, 0, 0, 0.03),
    0 1px 2px rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  gap: 5px;
}

.dashboard,
.user-list {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.user-list {
  align-self: stretch;
  padding: 40px 60px;
  gap: 20px;
  text-align: left;
  font-size: 18px;
  color: var(--color-darkblue);
  font-family: var(--font-sand);
}

.dashboard {
  width: 100%;
  position: relative;
  background-color: var(--color-foreground);
}
