.navNotifCounterText {
  font-family: var(--font-dm);
  font-size: 10px;
  position: relative;
  font-weight: 600;
  color: inherit;
}

.navNotif,
.navNotifCounter {
  display: flex;
  justify-content: center;
}

.navNotifCounter {
  border-radius: 3px;
  color: var(--color-white);
  background-color: var(--color-red);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 0 3px;
  margin-left: -6px;
  z-index: 1;
}

.navNotif {
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;
  color: var(--color-blue);
}

.navUser {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.navMenu {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  gap: 5px;
}

.nav,
.navBody,
.navOption {
  display: flex;
  align-items: center;
}

.navOption {
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.navBody {
  align-self: stretch;
  height: 70px;
  color: var(--color-blue);
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  background-color: var(--color-foreground);
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 40px;
  z-index: 99;
}
