.nav-notif-counter-text {
  font-family: var(--font-open);
  font-size: 10px;
  position: relative;
  font-weight: 600;
  color: inherit;
}

.nav-notif,
.nav-notif-counter {
  display: flex;
  justify-content: center;
}

.nav-notif-counter {
  border-radius: 3px;
  color: var(--color-white);
  background-color: var(--color-red);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 0 3px;
  margin-left: -6px;
  z-index: 1;
}

.nav-notif {
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;
  color: var(--color-blue);
}

.nav-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.nav-menu {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  gap: 5px;
}

.nav,
.nav-body,
.nav-option {
  display: flex;
  align-items: center;
}

.nav-option {
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.nav-body {
  align-self: stretch;
  height: 70px;
  color: var(--color-blue);
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  background-color: var(--color-foreground);
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 40px;
  z-index: 99;
}
