@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

body {
  margin: 0;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

:modal-root {
  overflow-y: auto;
}

:root {
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-open: "Open Sans", sans-serif;
  --font-dm: "DM Sans", sans-serif;
  --transit: all 0.3s ease-in-out;

  --color-primary: #3880eb;
  --color-primary-5: rgba(56, 128, 235, 0.05);
  --color-primary-10: rgba(56, 128, 235, 0.1);
  --color-primary-20: rgba(56, 128, 235, 0.2);
  --color-primary-30: rgba(56, 128, 235, 0.3);
  --color-secondary: #0f3948;
  --color-secondary-5: rgba(15, 57, 72, 0.05);
  --color-secondary-10: rgba(15, 57, 72, 0.1);
  --color-secondary-20: rgba(15, 57, 72, 0.2);
  --color-secondary-50: rgba(15, 57, 72, 0.5);
  --color-foreground: #f5f5f7;
  --color-hint: #045e83;
  --color-secondlight: #fff;
  --color-secondlight-20: rgba(255, 255, 255, 0.2);
  --color-secondlight-30: rgba(255, 255, 255, 0.3);
  --color-secondlight-50: rgba(255, 255, 255, 0.5);
  --color-light: #fdfdfd;
  --color-yellow: #f9d51b;
  --color-green: #18c964;
  --color-green-30: rgba(24, 201, 100, 0.3);
  --color-red: #f31260;
  --color-red-4: rgba(243, 18, 96, 0.04);
  --color-red-5: rgba(243, 18, 96, 0.05);
  --color-red-10: rgba(243, 18, 96, 0.1);
  --color-red-30: rgba(243, 18, 96, 0.3);

  --theme-font: "DM Sans", sans-serif;
  --theme-color-base: #fdfdfd;
  --theme-color-primary: #3880eb;
  --theme-color-secondary: #0f3948;

  --font-xlg: 50px;
  --font-lg: 35px;
  --font-md: 25px;
  --font-sm: 18px;
  --font-xsm: 16px;
  --font-mini: 14px;
  --font-tiny: 12px;

  --pixel-5: 5px;
  --pixel-10: 10px;
  --pixel-15: 15px;
  --pixel-20: 20px;
  --pixel-25: 25px;
  --pixel-30: 30px;
  --pixel-35: 35px;
  --pixel-40: 40px;
  --pixel-50: 50px;
  --pixel-60: 60px;
  --pixel-65: 65px;
  --pixel-70: 70px;
  --pixel-90: 90px;
  --pixel-100: 100px;
  --pixel-120: 120px;
  --pixel-150: 150px;
  --pixel-200: 200px;
  --pixel-250: 250px;
  --pixel-300: 300px;
  --pixel-350: 350px;
  --pixel-400: 400px;
  --pixel-450: 450px;
  --pixel-500: 500px;
  --pixel-600: 600px;
  --pixel-950: 950px;

  --pixel-min-2: -2px;
  --pixel-min-5: -5px;
  --pixel-min-10: -10px;
  --pixel-min-15: -15px;
  --pixel-min-20: -20px;
  --pixel-min-30: -30px;
}

@media screen and (min-width: 701px) and (max-width: 1120px) {
  :root {
    --font-xlg: 42.8px;
    --font-lg: 30px;
    --font-md: 21.4px;
    --font-sm: 15.4px;
    --font-xsm: 13.7px;
    --font-mini: 12px;
    --font-tiny: 10.2px;

    --pixel-5: 4px;
    --pixel-10: 8.5px;
    --pixel-15: 13px;
    --pixel-20: 17px;
    --pixel-25: 21px;
    --pixel-30: 26px;
    --pixel-35: 30px;
    --pixel-40: 34px;
    --pixel-50: 43px;
    --pixel-60: 51.5px;
    --pixel-65: 56px;
    --pixel-70: 60px;
    --pixel-90: 77px;
    --pixel-100: 85px;
    --pixel-120: 120px;
    --pixel-150: 128.5px;
    --pixel-200: 171.5px;
    --pixel-250: 214px;
    --pixel-300: 257px;
    --pixel-350: 300px;
    --pixel-400: 343px;
    --pixel-450: 386px;
    --pixel-500: 428.5px;
    --pixel-600: 600px;
    --pixel-950: 950px;

    --pixel-min-2: -2px;
    --pixel-min-5: -4px;
    --pixel-min-10: -8.5px;
    --pixel-min-15: -13px;
    --pixel-min-20: -17px;
    --pixel-min-30: -26px;
  }
}

@media screen and (max-width: 700px) {
  :root {
    --font-xlg: 35.7px;
    --font-lg: 25px;
    --font-md: 17.8px;
    --font-sm: 12.8px;
    --font-xsm: 11.4px;
    --font-mini: 10px;
    --font-tiny: 8.5px;

    --pixel-5: 3.5px;
    --pixel-10: 7px;
    --pixel-15: 11px;
    --pixel-20: 14px;
    --pixel-25: 18px;
    --pixel-30: 21px;
    --pixel-35: 25px;
    --pixel-40: 29px;
    --pixel-50: 36px;
    --pixel-60: 43px;
    --pixel-65: 46.5px;
    --pixel-70: 50px;
    --pixel-90: 64px;
    --pixel-100: 71.5px;
    --pixel-120: 120px;
    --pixel-150: 107px;
    --pixel-200: 143px;
    --pixel-250: 179px;
    --pixel-300: 214.5px;
    --pixel-350: 250px;
    --pixel-400: 286px;
    --pixel-450: 321.5px;
    --pixel-500: 357px;
    --pixel-600: 600px;
    --pixel-950: 950px;

    --pixel-min-2: -2px;
    --pixel-min-5: -3.5px;
    --pixel-min-10: -7px;
    --pixel-min-15: -11px;
    --pixel-min-20: -14px;
    --pixel-min-30: -21px;
  }
}

.dashboard {
  padding-top: 30px;
}
