.tabelSectionTitle {
  align-self: stretch;
  position: relative;
}

.tabelSectionNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
}

.tabelSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  padding: var(--pixel-30) var(--pixel-40);
  gap: var(--pixel-20);
  text-align: center;
  font-size: var(--font-lg);
  color: #045e83;
  font-family: var(--font-jakarta);
}
