.user-list-line,
.userListTitle {
  position: relative;
}

.user-list-line {
  flex: 1;
  border-top: 1px solid var(--color-primary-30);
  box-sizing: border-box;
  height: 2px;
}

.user-list-heading {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--pixel-10);
  text-align: left;
  font-size: var(--font-lg);
  color: var(--color-hint);
  font-family: var(--font-jakarta);
}

.search-icon {
  width: 17px;
  position: relative;
  height: 17px;
}

.chevron-down-icon {
  width: 12px;
  position: relative;
  height: 6.9px;
}

.user-list-nav,
.user-list-option {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-list-option {
  justify-content: center;
  gap: var(--pixel-15);
}

.user-list-nav {
  align-self: stretch;
  justify-content: space-between;
}

.userListRowNameText {
  flex: 1;
  position: relative;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-list-row-date,
.user-list-row-id,
.user-list-row-name {
  flex: 1;
  border-radius: var(--pixel-10);
  height: 53px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--pixel-15) var(--pixel-20);
  box-sizing: border-box;
}

.user-list-row:hover {
  background-color: var(--color-primary-5);
}

.user-list-row-date,
.user-list-row-id {
  max-width: var(--pixel-200);
}

.user-list-row-id {
  max-width: var(--pixel-150);
}

.more-icon {
  width: 4.2px;
  position: relative;
  height: var(--pixel-25);
}

.user-list-row-more {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 46px;
  border-radius: var(--pixel-5);
  height: 46px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.edit-icon {
  width: 24.4px;
  position: relative;
  height: var(--pixel-25);
}

.user-list-row {
  align-self: stretch;
  border-radius: var(--pixel-10);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--pixel-10);
  z-index: 0;
}

.userListHeadName {
  flex: 1;
  height: 53px;
  justify-content: flex-start;
  padding: var(--pixel-15) var(--pixel-20);
  box-sizing: border-box;
  border-radius: var(--pixel-10);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--pixel-10);
}

.user-list-head,
.user-list-head-date,
.user-list-head-id {
  border-radius: var(--pixel-10);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--pixel-10);
}

.user-list-head-id {
  flex: 1;
  height: 53px;
  justify-content: flex-start;
  padding: var(--pixel-15) var(--pixel-20);
  box-sizing: border-box;
  max-width: var(--pixel-150);
}

.user-list-head {
  align-self: stretch;
  background-color: var(--color-foreground);
  box-shadow: 0 37px 10px transparent, 0 24px 9px transparent, 0 13px 8px rgba(0, 0, 0, 0.02), 0 6px 6px rgba(0, 0, 0, 0.03),
    0 1px 3px rgba(0, 0, 0, 0.03);
  justify-content: center;
}

.user-list-body,
.user-list-head-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.user-list-head-wrap {
  width: 100%;
  margin: 0 !important;
  position: sticky;
  top: 0;
  left: 0;
  justify-content: center;
  padding: var(--pixel-10);
  z-index: 2;
}

.user-list-body {
  align-self: stretch;
  border-radius: var(--pixel-20);
  background-color: var(--color-light);
  box-shadow: 0 var(--pixel-30) 8px transparent, 0 19px 8px transparent, 0 11px 6px rgba(0, 0, 0, 0.02), 0 5px 5px rgba(0, 0, 0, 0.03),
    0 1px 3px rgba(0, 0, 0, 0.03);
  height: 398px;
  overflow-y: auto;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: var(--pixel-10) var(--pixel-10);
  position: relative;
  gap: var(--pixel-10);
}

.chevron-left-icon {
  width: 6.9px;
  position: relative;
  height: 12px;
}

.dashboard,
.user-list {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.user-list {
  align-self: stretch;
  padding: var(--pixel-40) var(--pixel-60);
  gap: var(--pixel-20);
  text-align: left;
  font-size: var(--font-sm);
  color: var(--color-secondary);
  font-family: var(--font-dm);
}

.dashboard {
  width: 100%;
  position: relative;
  background-color: var(--color-foreground);
}
