.tabelRowExpand {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--color-blue-30);
  border-left: 1px solid var(--color-blue-30);
  border-right: 1px solid var(--color-blue-30);
  padding: 15px;
  background-color: var(--color-foreground);
}

.tabelNodata {
  color: var(--color-darkblue-50);
  font-size: 25px;
  font-weight: 600;
}

.tabelHeadNumThText {
  position: relative;
}

.tabelHeadNumTh {
  width: 80px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  box-sizing: border-box;
}

.tabelHeadAtnTh {
  width: 200px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  box-sizing: border-box;
}

.tabelHeadThText {
  flex: 1;
  position: relative;
}

.tabelHeadTh {
  width: 250px;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  padding: 15px 20px;
  box-sizing: border-box;
  gap: 10px;
}

.tabelHeadTh,
.tabelHeadThead,
.tabelHeadTr {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}

.tabelHeadTr {
  background-color: #0f3948;
  box-shadow: 0 37px 10px transparent, 0 24px 9px transparent,
    0 13px 8px rgba(0, 0, 0, 0.02), 0 6px 6px rgba(0, 0, 0, 0.03),
    0 1px 3px rgba(0, 0, 0, 0.03);
  flex-direction: row;
  align-items: center;
}

.tabelHeadThead {
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px var(--color-blue-30);
  flex-direction: column;
  align-items: flex-start;
}

.tabelBodyNumTdText {
  position: relative;
  font-weight: 600;
}

.tabelBodyNumTd {
  width: 80px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  box-sizing: border-box;
}

.tabelBodyAtnTd {
  position: relative;
  width: 200px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  height: 55px;
  padding: 15px 20px;
  box-sizing: border-box;
}

.tabelBodyTdText {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}

.tabelBodyTd,
.tabelBodyTr {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
}

.tabelBodyTd {
  width: 250px;
  white-space: normal;
  flex-direction: column;
  justify-content: center;
  padding: 15px 20px;
  box-sizing: border-box;
}

.tabelBodyTr {
  flex-direction: row;
  justify-content: flex-start;
  border-top: 1px solid var(--color-blue-30);
  background-color: var(--color-blue-5);
  transition: all 0.3s ease-in-out;
}

.tabelBodyTr.clickable {
  cursor: pointer;
}

.tabelBodyTr.even {
  background-color: transparent;
}

.tabelBodyTr:hover,
.tabelBodyTr.even:hover {
  background-color: var(--color-blue-30);
}

.tabelBodyTbody {
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px var(--color-blue-30);
  box-sizing: border-box;
  color: #0f3948;
  flex-shrink: 0;
  overflow: hidden;
}

.tabelBodyVscroll {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-x: hidden;
}

.tabelBodyVscroll::-webkit-scrollbar {
  width: 7px;
}

.tabelBodyVscroll::-webkit-scrollbar-track {
  background: transparent;
}

.tabelBodyVscroll::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

.tabelBodyTbody,
.tabelSectionTable {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.tabelSectionTable {
  gap: 10px;
}

.lineDivider {
  content: "";
  align-self: stretch;
  width: 1px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  background-color: var(--color-blue-30);
}

.tabelSectionBody {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  border-radius: 20px;
  background-color: #fdfdfd;
  box-shadow: 0 30px 8px transparent, 0 19px 8px transparent,
    0 11px 6px rgba(0, 0, 0, 0.02), 0 5px 5px rgba(0, 0, 0, 0.03),
    0 1px 3px rgba(0, 0, 0, 0.03);
  padding: 10px;
  text-align: left;
  font-size: 18px;
  color: #fff;
  font-family: var(--font-dm);
}

.tabelSectionBody.onLoad {
  align-items: center;
  overflow: hidden;
  color: var(--color-darkblue);
  justify-content: center;
  height: 350px;
}

.tabelSectionBody.noLoad {
  align-items: flex-start;
  overflow-x: auto;
  color: #fff;
  justify-content: flex-start;
}

.tabelSectionBody::-webkit-scrollbar {
  height: 7px;
}

.tabelSectionBody::-webkit-scrollbar-track {
  background: transparent;
}

.tabelSectionBody::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}
